---
import BaseLayout from "../layouts/BaseLayout.astro";

import HomeSlide from "../components/slides/HomeSlide.astro";
import DuperSlide from "../components/slides/DuperSlide.astro";
import SandholeSlide from "../components/slides/SandholeSlide.astro";
import YourIdeaHereSlide from "../components/slides/YourIdeaHereSlide.astro";

const slides = [HomeSlide, DuperSlide, SandholeSlide, YourIdeaHereSlide];
---

<BaseLayout title="Eric Rodrigues Pires">
  <Fragment slot="head-extra">
    <meta property="og:description" content="Programming from Brazil." />
    <meta property="og:image" content="/logo.webp" />
    <link href="https://mastodon.xyz/@epiceric" rel="me" />
    <link href="https://bsky.app/profile/eric.dev.br" rel="me" />
  </Fragment>
  <div
    x-data={`{
      slide: 0,
      maxSlide: ${slides.length - 1},
      prev() {
        this.slide > 0 && this.slide--;
        document.getElementById('slide-' + this.slide).scrollIntoView({
          behavior: window.matchMedia('(prefers-reduced-motion: reduce)').matches ? 'auto' : 'smooth',
          inline: 'start',
        });
      },
      next() {
        this.slide < this.maxSlide && this.slide++;
        document.getElementById('slide-' + this.slide).scrollIntoView({
          behavior: window.matchMedia('(prefers-reduced-motion: reduce)').matches ? 'auto' : 'smooth',
          inline: 'start',
        });
      }
    }`}
    class="relative flex max-h-screen overflow-y-hidden"
  >
    {slides.map((Slide, i) => <Slide slide={i} />)}
    <button
      type="button"
      @click="prev"
      @keydown.left.window.prevent="prev"
      @keydown.h.window="prev"
      class="fixed inset-y-0 left-0 z-10 px-2 text-gray-100/40 transition hover:bg-gray-500/20 hover:text-gray-100 focus:bg-gray-500/20 focus:text-gray-100"
      :class="slide > 0 ? 'opacity-100 pointer-events-auto' : 'opacity-0 pointer-events-none'"
      :disabled="slide <= 0"
      tabindex="1"
      :aria-label="lang === 'pt' ? 'Anterior' : 'Previous'"
    >
      <svg
        class="size-8"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-chevron-left-icon lucide-chevron-left"
        aria-hidden="true"><path d="m15 18-6-6 6-6"></path></svg
      >
    </button>
    <button
      type="button"
      @click="next"
      @keydown.right.window.prevent="next"
      @keydown.l.window="next"
      class="fixed inset-y-0 right-0 z-10 px-2 text-gray-100/40 transition hover:bg-gray-500/20 hover:text-gray-100 focus:bg-gray-500/20 focus:text-gray-100"
      :class="slide < maxSlide ? 'opacity-100 pointer-events-auto' : 'opacity-0 pointer-events-none'"
      :disabled="slide >= maxSlide"
      tabindex="2"
      :aria-label="lang === 'pt' ? 'Próximo' : 'Next'"
    >
      <svg
        class="size-8"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-chevron-right-icon lucide-chevron-right"
        aria-hidden="true"><path d="m9 18 6-6-6-6"></path></svg
      >
    </button>
  </div>
</BaseLayout>
