on:
  push:
    branches: ["main"]
  pull_request:

concurrency:
  group: "pages"
  cancel-in-progress: false

permissions: {}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: true
      - name: Setup Bun
        uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2.0.2
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5
      - name: Install dependencies
        run: bun install
      - name: Build with Astro
        run: bun run build
      - name: Deploy to Sandhole
        if: github.ref == 'refs/heads/main'
        uses: up9cloud/action-rsync@e5f52e6a78755fa0ddbfd2d52f61de0490661665 # master
        env:
          SOURCE: dist/
          HOST: ${{ secrets.WEBSITE_SSH_HOST }}
          PORT: ${{ secrets.WEBSITE_SSH_PORT }}
          USER: ${{ secrets.WEBSITE_SSH_USER }}
          KEY: ${{ secrets.WEBSITE_SSH_KEY }}
          TARGET: ${{ secrets.WEBSITE_SSH_TARGET }}
